[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = "*"
sphinx-autobuild = "*"
sphinx-zon-theme = "*"
sphinx-elasticsearch = "*"
elasticsearch = "~=6.0"

[requires]
python_version = "3"
